* {
  font-family: "Roboto", sans-serif; }

a {
  text-decoration: none; }

a:hover {
  color: #13bbdd; }

nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1; }

.hamburger {
  display: none; }

* a:hover {
  text-decoration: underline; }

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style: none; }
  .menu_link {
    color: #fff;
    font-size: 15px;
    font-weight: 300; }
  .menu_item:not(:last-child) {
    border-right: 2px dotted black;
    padding-right: 50px; }

.subheader {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader_logo {
    display: block;
    margin-top: 16px; }
    .subheader_logo img {
      max-width: 100%; }
  .subheader_official {
    margin-top: 6px;
    opacity: 0.5;
    color: #fff;
    font-size: 13px;
    font-weight: 400; }
  .subheader_call {
    color: #fff;
    font-weight: 300;
    font-size: 13px;
    margin-top: 19px;
    text-align: right; }
  .subheader_phone {
    display: block;
    margin-top: 8px;
    text-align: right;
    color: #fff;
    font-weight: 400;
    font-size: 22px;
    line-height: 12px; }
  .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    -webkit-box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 400; }
    .subheader_btn:hover {
      background-image: none;
      background-color: #13bbdd; }

.promo {
  min-height: 800px;
  background: url("../img/bg/main-bg.jpg") center center/cover no-repeat;
  padding: 150px 135px 0; }
  .promo_header {
    margin: 0;
    text-align: center;
    color: #fff;
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 60px; }
  .promo_subheader {
    margin: 0;
    margin-top: 22px;
    text-align: center;
    color: #fff;
    font-size: 36px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px; }
  .promo_descr {
    margin-top: 23px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px; }
  .promo_btn {
    display: block;
    margin: 118px auto 0 auto;
    width: 259px;
    height: 63px;
    -webkit-box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
            box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#1eacc7), to(#4ce2ff));
    background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-weight: 400; }
    .promo_btn:hover {
      background-image: none;
      background-color: #13bbdd; }

.features {
  min-height: 898px;
  background-color: #fff;
  padding: 48px 0px 60px 0px; }

.plate {
  text-align: center; }
  .plate span {
    padding: 6px 14px 6px 14px;
    display: inline-block;
    background-color: #000;
    color: #fff;
    font-weight: 300;
    text-transform: uppercase;
    font-size: 11px; }

.title_header {
  margin-top: 38px;
  margin-bottom: 0;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase; }

.subtitle {
  margin-top: 15px;
  color: #222222;
  font-size: 17px;
  font-weight: 400;
  text-align: center; }

.feature_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 42px 0px 35px; }
  .feature_inner .feature_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 35px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 498px;
    overflow: hidden; }
  .feature_inner .feature_img img {
    max-width: 115px; }
  .feature_inner .feature_descr {
    width: 353px;
    font-size: 14px;
    text-align: justify; }
    .feature_inner .feature_descr .descr_text {
      font-weight: 400; }
    .feature_inner .feature_descr .descr_header {
      color: #13bbdd;
      font-weight: 400; }

.mobile {
  min-height: 864px;
  padding: 48px 0px 79px 0px;
  background: url(../img/bg/cell-bg.jpg) center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url(../img/mobil/1.jpg) center center/cover no-repeat; }
    .mobile_item_2 {
      background: url(../img/mobil/2.jpg) center center/cover no-repeat; }
    .mobile_item_3 {
      background: url(../img/mobil/3.jpg) center center/cover no-repeat; }
    .mobile_item_4 {
      background: url(../img/mobil/4.jpg) center center/cover no-repeat; }
    .mobile_item_5 {
      background: url(../img/mobil/5.jpg) center center/cover no-repeat; }
    .mobile_item_6 {
      background: url(../img/mobil/6.jpg) center center/cover no-repeat; }
    .mobile_item_subtitle {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      line-height: 31px;
      text-transform: uppercase;
      text-align: center; }
    .mobile_item_plus {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%);
      width: 26px;
      height: 26px;
      background-color: #000;
      margin: 0 auto;
      border-radius: 50%;
      cursor: pointer; }
      .mobile_item_plus:before {
        width: 14px;
        height: 2px;
        content: "";
        display: block;
        background-color: #13bbdd;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile_item_plus:after {
        width: 2px;
        height: 14px;
        position: absolute;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
        content: "";
        display: block;
        background-color: #13bbdd;
        -webkit-transition: 0.3s all;
        transition: 0.3s all; }
      .mobile_item_plus:hover:before, .mobile_item_plus:hover:after {
        background-color: #ff1f47; }

.bg--white {
  background-color: #fff !important;
  color: #000 !important; }

.choice {
  padding-bottom: 135px;
  background: url(../img/bg/cell-bg.jpg) center center/cover no-repeat; }
  .choice_inner_black {
    position: relative;
    padding-top: 56px;
    background-color: #000;
    color: #fff;
    height: 500px; }
    .choice_inner_black .banner {
      position: absolute;
      top: 231px;
      left: 50%;
      -webkit-transform: translateX(-50%);
              transform: translateX(-50%); }
    .choice_inner_black .title_header {
      margin-top: 30px; }
  .choice .subtitle {
    color: #fff;
    margin-top: 10px; }

.choice_text {
  max-width: 290px;
  margin: 0 auto;
  text-align: center;
  margin-top: 218px; }

.require {
  padding: 68px 0px 84px 0px; }
  .require_block {
    margin: 33px 0px; }
    .require_block_nmb {
      margin-bottom: 0px; }
  .require_title {
    color: #1ca8c3;
    font-size: 22px;
    font-weight: 400; }
  .require_list {
    margin-top: 22px;
    list-style-type: none;
    padding-left: 50px; }
    .require_list li {
      position: relative;
      margin-bottom: 10px;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px; }
      .require_list li:before {
        content: "";
        display: block;
        position: absolute;
        left: -32px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../icons/scopes/aqua_check.png") center center/cover no-repeat; }
  .require_descr {
    color: #1ca8c3; }
  .require .warning .require_title {
    color: #ff1f47; }
  .require .warning .require_list li:before {
    background: url("../icons/scopes/raspberry_check.png") center center/cover no-repeat; }

.cities {
  min-height: 716px;
  background: url("../img/bg/cities-bg.jpg") center center/cover no-repeat;
  padding: 50px 0px; }
  .cities .title_header {
    color: #fff; }
  .cities .subtitle {
    color: #fff; }
  .cities_check {
    margin-top: 480px;
    text-align: center; }
    .cities_check a {
      font-size: 15px;
      font-weight: 400;
      color: #13bbdd;
      text-transform: uppercase; }

.footer {
  min-height: 148px;
  padding: 0px 23px; }
  .footer_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .footer_inner > div {
    width: 33%; }
    .footer_inner > div:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
    .footer_inner > div .footer_social {
      width: 152px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .footer_inner > div .footer_social_item {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        width: 32px;
        height: 32px;
        background-color: #000;
        border-radius: 50%; }
        .footer_inner > div .footer_social_item i {
          color: #fff; }
    .footer_inner > div .footer_content {
      text-align: center; }
      .footer_inner > div .footer_content .headline {
        display: inline-block;
        height: 4px;
        width: 300px;
        background-color: #13bbdd; }
      .footer_inner > div .footer_content .header_links {
        margin: 0 auto;
        width: 365px;
        margin-top: 32px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .footer_inner > div .footer_content .header_links a {
          color: #000;
          font-size: 15px;
          font-weight: 100;
          text-transform: uppercase; }
      .footer_inner > div .footer_content .subheader_links {
        margin-top: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .footer_inner > div .footer_content .subheader_links a {
          font-size: 11px;
          color: #b8b8b8;
          text-transform: uppercase;
          font-weight: 100; }
      .footer_inner > div .footer_content .language {
        margin: 12px 0px 30px 0px; }
        .footer_inner > div .footer_content .language a {
          font-size: 11px;
          color: #13bbdd;
          text-transform: uppercase;
          font-weight: 400; }
    .footer_inner > div .footer_shops {
      width: 295px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }

.xs-visible {
  display: none; }

@media (max-width: 1200px) {
  .menu_item:not(:last-child) {
    padding-right: 20px; }
  .menu_link {
    font-size: 13px; }

  .promo_header {
    font-size: 41px; }
  .promo_btn {
    margin-top: 80px; }

  .feature_inner .feature_descr {
    width: 280px;
    font-size: 13px; }

  .choice {
    padding-bottom: 90px; }
    .choice_inner_black .banner {
      top: 242px; }
    .choice_inner_cell .choice_text {
      font-size: 22px;
      max-width: 395px;
      margin-top: 200px; }

  .require_list li {
    font-size: 16px; }

  .footer .footer_inner .footer_content .header_links {
    width: 304px; }
  .footer .footer_inner .footer_content .subheader_links a {
    font-size: 10px; }
  .footer .footer_inner .footer_shops {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 86px; }
    .footer .footer_inner .footer_shops a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; } }
@media (max-width: 991px) {
  .menu_item:not(:last-child) {
    padding-right: 11px; }
  .menu_link {
    font-size: 10px; }

  .subheader_logo img {
    width: 100%; }
  .subheader_official {
    font-size: 10px; }
  .subheader_phone {
    font-size: 18px; }
  .subheader_btn {
    margin-top: 23px;
    width: 100%;
    height: 36px; }

  .promo {
    padding-left: 40px;
    padding-right: 40px;
    min-height: 666px; }
    .promo_header {
      font-size: 28px; }
    .promo_subheader {
      margin-top: 0px;
      line-height: normal;
      font-size: 20px; }

  .feature_inner .feature_box {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .feature_inner .feature_descr {
    text-align: center; }
    .feature_inner .feature_descr .descr_header {
      margin-top: 20px; }

  .title_header {
    font-size: 31px; }

  .subtitle {
    font-size: 13px; }

  .mobile_item {
    width: 290px;
    height: 250px; }
    .mobile_item_subtitle {
      font-size: 20px; }

  .choice_inner_black .banner {
    width: 100%; }

  .require {
    padding-bottom: 34px; }
    .require_title {
      font-size: 19px; }
    .require_list {
      margin-top: 12px;
      padding-left: 40px; }
      .require_list li {
        font-size: 13px; }
        .require_list li:before {
          left: -26px; }
    .require_descr {
      font-size: 14px; }
    .require_block {
      margin-top: 20px;
      margin-bottom: 20px; }

  .cities {
    min-height: 575px; }
    .cities_check {
      margin-top: 300px; }

  .footer .footer_inner .footer_content .headline {
    width: 200px;
    height: 3px; }
  .footer .footer_inner .footer_content .header_links {
    width: 234px;
    margin-top: 5px; }
    .footer .footer_inner .footer_content .header_links a {
      font-size: 11px; }
  .footer .footer_inner .footer_content .subheader_links {
    margin-top: 5px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
    .footer .footer_inner .footer_content .subheader_links a {
      font-size: 10px; }
  .footer .footer_inner .footer_content .language {
    margin: 15px 0px 10px 0px; } }
@media (max-width: 767px) {
  .menu {
    position: fixed;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    width: 50%;
    height: 100vh;
    padding: 20px 15px;
    background-color: rgba(0, 0, 0, 0.8);
    -webkit-transition: 0.6s all;
    transition: 0.6s all; }
    .menu_active {
      left: 0; }
    .menu_item:not(:first-child) {
      margin-top: 10px; }
    .menu_item:not(:last-child) {
      padding-right: 0px;
      border: none; }
    .menu_link {
      font-size: 20px; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 26px;
    height: 18px; }
    .hamburger span {
      display: block;
      margin-bottom: 4px;
      height: 2px;
      width: 100%;
      background-color: #fff;
      -webkit-transition: 0.5s all;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        -webkit-transform: translateY(3px) rotate(-45deg);
                transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        -webkit-transform: translateY(3px) rotate(45deg);
                transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none; }

  .xs-visible {
    display: block; }

  .subheader_phone {
    display: block;
    margin-bottom: 10px;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: 40;
    text-transform: uppercase; }
  .subheader_btn {
    display: block;
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 10px; }

  .promo_descr {
    font-size: 14px;
    line-height: 19px; }

  .feature_inner .feature_box {
    margin-top: 25px; }
    .feature_inner .feature_box .feature_img img {
      max-width: none;
      width: 150px; }
  .feature_inner .feature_descr {
    width: 380px;
    font-size: 17px;
    text-align: justify; }
    .feature_inner .feature_descr .descr_header {
      font-weight: bold; }

  .mobile {
    padding-bottom: 14px; }
    .mobile .subtitle {
      font-size: 17px; }

  .plate span {
    padding: 7px 17px;
    font-size: 17px; }

  .choice {
    padding-bottom: 59px; }
    .choice .choice_inner_black {
      height: 450px; }
      .choice .choice_inner_black .banner {
        top: 261px; }
    .choice .choice_inner_cell .choice_text {
      margin-top: 200px; }

  .require_title {
    font-size: 23px; }
  .require_list {
    padding-left: 50px; }
    .require_list li {
      font-size: 15px; }
      .require_list li:before {
        left: -30px; }
  .require_descr {
    font-size: 16px; }
  .require_block {
    margin-top: 20px;
    margin-bottom: 20px; }

  .cities_check a {
    font-size: 17px; }

  .footer {
    padding-top: 25px;
    padding-bottom: 20px; }
    .footer .footer_inner {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-flow: column wrap;
              flex-flow: column wrap;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .footer .footer_inner div:nth-child(2) {
        -webkit-box-ordinal-group: 0;
            -ms-flex-order: -1;
                order: -1; }
      .footer .footer_inner div {
        width: 100%; }
        .footer .footer_inner div .footer_social {
          width: 180px;
          margin: 0 auto;
          margin-top: 5px;
          -webkit-box-pack: justify;
              -ms-flex-pack: justify;
                  justify-content: space-between; }
        .footer .footer_inner div .footer_content .headline {
          width: 270px;
          height: 4px; }
        .footer .footer_inner div .footer_content .header_links {
          width: 340px;
          margin-top: 10px; }
          .footer .footer_inner div .footer_content .header_links a {
            font-size: 15px;
            font-weight: 500; }
        .footer .footer_inner div .footer_content .subheader_links {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-flow: row wrap;
                  flex-flow: row wrap;
          width: 280px;
          margin: 0 auto;
          margin-top: 5px; }
          .footer .footer_inner div .footer_content .subheader_links a {
            font-size: 13px;
            line-height: 25px; }
        .footer .footer_inner div .footer_content .language {
          margin-top: 5px;
          font-size: 13px;
          font-weight: bold; }
        .footer .footer_inner div .footer_shops {
          height: auto;
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row;
          width: 330px;
          margin: 0 auto;
          margin-top: 20px; } }
@media (max-width: 575px) {
  nav {
    height: 31px; }

  .subheader {
    height: 60px;
    top: 31px; }
    .subheader_official {
      display: none; }
    .subheader_btn {
      width: 110px;
      height: 22px;
      font-size: 10px;
      margin-top: 9px; }
    .subheader_logo {
      margin-top: 16px; }
    .subheader_phone {
      margin-top: 9px;
      margin-bottom: 8px;
      font-size: 12px;
      font-weight: 400; }

  .hamburger {
    height: 14px; }

  .promo {
    padding: 137px 0px 35px 0px;
    min-height: 400px; }
    .promo_descr {
      display: none; }
    .promo_header {
      font-size: 30px;
      padding: 0px 24px;
      line-height: 40px; }
    .promo_subheader {
      margin-top: 30px;
      font-size: 20px;
      padding: 0px 10px; }
    .promo_btn {
      width: 210px;
      height: 50px;
      margin-top: 72px; }

  .menu {
    width: 85%; }
    .menu_item {
      width: 100%;
      text-align: center; }
      .menu_item a {
        display: block; }

  .features {
    padding-top: 25px; }
    .features .feature_inner {
      padding: 0px; }
      .features .feature_inner .feature_descr {
        width: auto; }
        .features .feature_inner .feature_descr .descr_header {
          font-size: 16px; }
        .features .feature_inner .feature_descr .descr_text {
          font-size: 15px; }
      .features .feature_inner .feature_box .feature_img img {
        width: 105px; }

  .plate span {
    width: 112px;
    height: 25px;
    font-size: 11px;
    padding: 6px 0px 0px 0px; }

  .title_header {
    margin-top: 15px;
    font-size: 16px; }

  .mobile {
    padding-top: 25px;
    padding-bottom: 23px; }
    .mobile .subtitle {
      margin-top: 0px;
      font-size: 14px;
      font-weight: bold; }
    .mobile .mobile_item {
      padding-top: 70px; }
      .mobile .mobile_item_subtitle {
        width: 215px;
        margin: 0 auto;
        font-size: 18px; }
      .mobile .mobile_item_plus {
        bottom: 25px; }

  .choice {
    position: relative;
    background: none;
    padding-bottom: 0; }
    .choice_inner_black {
      height: 380px !important;
      background-color: #070716;
      padding-top: 25px; }
      .choice_inner_black .title_header {
        display: none; }
      .choice_inner_black .subtitle {
        display: none; }
      .choice_inner_black .banner {
        top: 85px !important;
        width: 288px; }
    .choice_inner_cell {
      position: absolute;
      top: 281px;
      width: 100%;
      color: #fff; }
      .choice_inner_cell .choice_text {
        margin-top: 0px !important;
        width: 250px;
        font-size: 17px;
        font-weight: 300; }

  .require {
    padding-top: 25px;
    padding-bottom: 4px; }
    .require .title_header {
      margin-top: 10px; }
    .require_block {
      margin-top: 5px; }
      .require_block .require_title {
        font-size: 16px;
        font-weight: bold; }
      .require_block .require_list {
        padding-left: 35px; }
        .require_block .require_list li {
          line-height: 17px;
          font-size: 14px;
          font-weight: 500; }
          .require_block .require_list li::before {
            top: -1px; }
      .require_block .require_descr {
        font-size: 14px;
        line-height: 17px; }

  .cities {
    padding-top: 25px;
    padding-bottom: 0px;
    min-height: 380px; }
    .cities .plate span {
      width: 80px; }
    .cities .title_header {
      font-size: 18px; }
    .cities .subtitle {
      font-size: 14px;
      margin-top: 0px; }
    .cities_check {
      margin-top: 210px; }
      .cities_check a {
        font-size: 15px; }

  .footer {
    padding: 16px 15px 20px 15px; }
    .footer .footer_inner div .footer_content .headline {
      width: 256px; }
    .footer .footer_inner div .footer_content .header_links {
      width: auto; }
      .footer .footer_inner div .footer_content .header_links a {
        font-size: 14px;
        font-weight: 500; }
    .footer .footer_inner div .footer_content .subheader_links {
      margin-top: 0px;
      width: 238px; }
      .footer .footer_inner div .footer_content .subheader_links a {
        font-size: 11px;
        font-weight: 500; }
    .footer .footer_inner div .footer_content .language {
      margin-top: 0px; }
      .footer .footer_inner div .footer_content .language a {
        font-weight: bold; }
    .footer .footer_inner div .footer_social {
      width: 150px; }
    .footer .footer_inner div .footer_shops {
      width: 264px; }
      .footer .footer_inner div .footer_shops a img {
        width: 84px; } }

/*# sourceMappingURL=style.css.map */