@media screen and (max-width: 1280px) {
	.header .logo { display: none; }
	.sign_up_btn_wrapper { margin-top: 100px !important; }
	.secondary_motto {
		font-size: 26px !important;
		margin-left: 335px !important;
	}
	.greeting_info {
		margin-left: 0px !important;
	}
}
@media screen and (max-width: 1024px) {
	.menu { 
		font-size: 13px !important;
		max-width: 350px;
	}
	.header_phone {
		font-size: 20px !important;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		justify-content: flex-end;
	}
	.greeting_info { margin-top: 100px !important; }
	.greeting_info .info_date {
		font-size: 18px;
	}
	.greeting_info .info_name {
		font-size: 26px;
	}
	.main_motto {
		font-size: 60px !important;
	}
	.secondary_motto {
		color: red;
		font-size: 22px !important;
	}
	.sign_up_btn_wrapper {
		margin-top: 150px !important;
	}
	.sign_up_btn {
		font-size: 25px !important;
		padding: 25px 170px !important;
	}
	.time_box_wrapper {
		margin: 70px auto !important;
	}
	.time_box_wrapper .description {
		font-size: 20px !important;
	}
	.time_box_wrapper .left_side .question, 
	.time_box_wrapper .right_side .ask {
		font-size: 14px !important;
	}
	.quote_wrapper .image img { max-width: 350px !important; }
	.quote_wrapper .call { margin-top: 20px !important; }
	.program_info { font-size: 13px; }
	.secondary_quote_wrapper .quote_text { font-size: 2em !important; }
	.secondary_quote_wrapper .quote_author { font-size: 1em !important; }
	.price_list_wrapper {
		max-width: 700px;
		margin: 0 auto;
	}
	.price_list { margin-top: 40px !important; }
	.price_list .description {
		font-size: 13px !important;
		height: 200px !important;
	}
	.mobile_app {
		margin-top: 100px !important;
	}
	.mobile_app_wrapper .image img {
		width: 180px;
	}
	.mobile_app_info .description .description_head {
		font-size: 17px !important;
	}
	.mobile_app_info .description .description_list {
		font-size: 13px !important;
	}
	.todo_list_box_case .image img { 
		width: 50px;
	}
	.todo_list_box_case .description { font-size: 14px; }
	.promotion_features_box .number_value span strong { font-size: 35px !important; }
	.promotion_features_box .description span { font-size: 16px !important; }
	.booking_form_wrapper {
		margin-top: 70px !important;
	}
	.booking_form_wrapper form {
		max-width: 500px;
	}
	.booking_form_wrapper form input[type="tel"],
	.booking_form_wrapper form input[type="submit"] {
		margin-top: 20px;
	}
	.partner_logo_wrapper .image img { width: 100px; }
	.partner_logo_wrapper {
		max-width: 700px !important;
	}
	.footer_wrapper {
		margin-bottom: 80px !important;
	}
}
@media (min-width: 500px) and (max-width: 1316px) {
	.gallery_images .left_side img,
	.gallery_images .right_side img {
		width: 130px !important;
	}
}
@media screen and (max-width: 800px) {
	.menu { 
		font-size: 13px !important;
		max-width: 350px;
	}
	.header_phone {
		font-size: 15px !important;
		max-width: 200px;
	}
	.greeting_info { margin-top: 70px !important; }
	.main_motto {
		margin-left: 90px;
	}
	.secondary_motto {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		margin-left: 0 !important;
		justify-content: flex-end;
	}
	.sign_up_btn_wrapper {
		margin-top: 120px !important;
	}
	.sign_up_btn {
		font-size: 20px !important;
		padding: 15px 100px !important;
	}
	.greeting {
		height: 630px !important;
	}
	.time_box_wrapper .left_side .question, 
	.time_box_wrapper .right_side .ask {
		font-size: 11px !important;
	}
	.time_box_wrapper .left_side .question, 
	.time_box_wrapper .right_side .ask {
		margin-top: 50px !important;
	}
	.quote { min-height: 330px !important; }
	.quote_wrapper .call {
		margin: 0 !important;
		text-align: center;
	}
	.quote_wrapper .image img {
		max-height: 200px !important;
	}
	.call .headtext { font-size: 13px !important; }
	.quote_wrapper .quote_text { font-size: 14px !important; }
	.quote_wrapper .quote_author { font-size: 11px !important; }
	.program { min-height: 670px !important; }
	.program_info { font-size: 11px; }
	.secondary_quote_wrapper .quote_text { font-size: 1.7em !important; }
	.secondary_quote_wrapper .quote_author { font-size: .8em !important; }
	.mobile_app_wrapper .image img {
		width: 150px !important;
	}
	.mobile_app_info .description .description_head {
		font-size: 15px !important;
	}
	.mobile_app_info .description .description_list {
		font-size: 11px !important;
	}
	.mobile_app_info_wrapper {
		margin-top: 0px !important;
	}
	.footer_wrapper .info_box {
		font-size: 13px;
	}
}
@media screen and (max-width: 768px) {
	.program {
		overflow: hidden;
	}
	.program_info { margin-bottom: 30px !important; }
}
@media screen and (max-width: 500px) {
	.header { height: 30px !important; }
	.menu {
		max-width: 120px;
	}
	.show { display: flex; }
	nav ul {
		display: none !important;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: column;
		justify-content: flex-start;
		position: absolute;
	}
	.menu_trigger { 
		display: inline-block !important;
		
	}
	.header_phone {
		display: none;
	}
	.greeting_info { margin-top: 90px !important; }
	.info_date { font-size: 15px !important; text-align: center;} 
	.info_date span br{ display: none; }
	.info_name { text-align: center; }
	.main_motto { 
		font-size: 38px !important; 
		margin-left: 0 !important;
	}
	.info_motto { 
		text-align: center;
		margin-top: 80px !important;
	}
	.info_motto br { display: none; }
	span.secondary_motto { 
		display: block; 
		font-size: 20px !important;
	}
	.sign_up_btn { 
		font-size: 16px !important;
		padding: 13px 80px !important;

	}
	.sign_up_btn_wrapper { margin-top: 100px !important; }
	.time_box_wrapper .left_side .question { 
		margin-top: 10px !important; 
	}
	.time_box_wrapper .right_side .ask { 
		margin-top: 20px !important; 
		max-width: 200px !important;
		margin-left: 100px;
	}
	.time_box_wrapper .left_side .question {
		margin-left: 100px;
		margin-bottom: 30px;
	}
	.time_box_wrapper .left_side .description,
	.time_box_wrapper .right_side .description{ 
		font-size: 28px !important; 
	}
	.time_box_wrapper .left_side .question .question_box,
	.time_box_wrapper .right_side .ask .ask_box { 
		text-align: right;
		font-size: 15px !important; 
	}
	.gallery_wrapper .headtext { font-size: 13px !important; }
	.twins img{
		max-width: 80px;
	}
	.quote { min-height: 350px !important; }
	.quote_wrapper .image { margin: 0 auto !important; }
	.quote {
		margin-top: 60px !important;
	}
	.quote_wrapper .call .headtext { font-size: 13px !important; }
	.quote_wrapper .call .quote_text{
		margin-top: 15px !important;
		font-size: 13px !important;
	}
	.quote_wrapper .call .quote_author {
		margin: 15px auto !important;
	}
	.program {
		padding-top: 10px !important;
	}
	.program_info {
		margin-top: 20px !important;
	}
	.program_info .right_block { 
		text-align: right; 
		margin-top: 40px !important;
		margin-bottom: 40px !important;
	}
	.secondary_quote_wrapper .quote_text {
		font-family: 'Bad Script', cursive;
		font-size: 1.5em !important;
		line-height: 140%;
	}
	.secondary_quote_wrapper .quote_author {
		margin-top: 20px !important;
	}
	.secondary_quote_wrapper {
		margin: 25px auto !important;
	}
	.mobile_app_wrapper .image img { display: none; }
	.mobile_app {
		margin-top: 10px !important;
	}
	.month_work { margin-top: 10px !important; }
	.todo_list_box_case {
		margin: 20px auto !important;
	} 
	.todo_list_box:nth-child(2) {
		margin-top: 10px !important;
	}
	.another_question {
		margin-top: 50px !important;
	}
	.promotion_features_wrapper {
		display: block !important;
	}
	.promotion_features_box:not(:first-child) { margin-top: 30px !important; }
	.booking_form_wrapper form { justify-content: center !important; }
	.booking_form_wrapper form input[type="email"] { margin-top: 20px; }
	.partner_logo_wrapper { 
		display: block !important; 
		text-align: center;
	}
	.partner_logo_wrapper .image { margin-top: 20px !important; }
	.footer_wrapper { justify-content: center !important; }
	.footer_wrapper .info_box { margin-top: 10px !important; }
}
@media screen and (max-width: 350px) {
	.quote_wrapper .call .quote_author {
		margin-bottom: 15px !important;
	}
	.twins img{
		max-width: 60px;
	}
	.another_question_wrapper .headtext_wrapper { font-size: 13px !important; }
}
body {
	margin: 0; 
	padding: 0;
	font-family: 'Source Sans Pro', sans-serif;
	box-sizing: border-box;
}
.greeting {
	background: url(../img/bg.jpg);
	background-size: cover;
	height: 750px;
	color: #fff;
}
.menu_trigger { 
	text-align: center;
	display: none;
}
.content {
	margin: 0 10%;
}
.header {
	height: 80px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-end;
	align-items: flex-end;
	text-transform: uppercase;
	flex-wrap: wrap;
}
a {
	text-decoration: none;
	color: #fff;
}
ul {
	list-style: none;
}
.menu {
	width: 440px;
	font-size: 14px;
}
.menu nav ul {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 0;
	margin: 0;
}
.menu nav ul li a {
	opacity: .5;
}
.logo {
	margin-left: 10px;
	width: 95px;
	font-size: 28px;
}
.header_phone {
	width: 316px;
	font-size: 28px;
	font-family: 'Merriweather', serif;
}
.info_date {
	font-family: 'Merriweather', serif;
	font-size: 22px;
}
.info_name {
	font-family: 'Merriweather', serif;
	font-size: 32px;
	margin-top: 10px;
}
.info_motto {
	margin-top: 10px;
}
.main_motto {
	font-size: 80px;
	font-weight: bold;
	text-transform: uppercase;	
	background: linear-gradient(to right, #6a3280 0%, #f90cba 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.secondary_motto {
	font-size: 32px;
	color: #8282a2;
	margin-left: 320px;
	font-family: 'Merriweather', serif;
}
.sign_up_btn {
	font-size: 20px;
	font-family: 'Merriweather', serif;
	padding: 20px 100px;
	border-radius: 50px;
	background: rgb(253,29,29);
	background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(114,47,159,1) 0%, rgba(252,69,214,1) 100%);
	display: inline-block;
}
.sign_up_btn_wrapper {
	margin-top: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.greeting_info {
	margin: 150px 0px 0px 20px;
}
.time_box {
	width: 100%;
}
.time_box .content {
	
}
.time_box_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin: 155px auto 130px auto;	
}
.time_box_wrapper .description {
	font-size: 30px;
}
.time_box_wrapper .left_side .question, 
.time_box_wrapper .right_side .ask {
	color: #797c80;
	margin-top: 80px;
	font-size: 18px;
}
.question_box {
	line-height: 140%;
}
.question_box:not(:first-child) {
	margin-top: 10px;
}
.ask_box:nth-child(1) {
	margin-bottom: 15px;
}
.ask_box:nth-child(4) {
	margin-top: 15px;	
}
.gallery {
	width: 100%;
	background: #fef0ff;
	overflow: hidden;
}
.gallery_wrapper {
	max-width: 1100px;
	margin: 50px auto;

}
.gallery_wrapper .headtext {
	text-align: center;
	margin-bottom: 40px;
}
.gallery_images { 
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.gallery_images .left_side,
.gallery_images .right_side {
	margin: 0 auto;
	
}
.gallery_images .left_side img,
.gallery_images .right_side img {
	width: 200px;
	padding: 30px;
}
.quote {
	width: 100%;
	min-height: 490px;
	margin-top: 120px;
}
.quote_wrapper {
	min-height: 345px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 1000px;
	justify-content: space-between;
	flex-wrap: wrap;
}
.quote_wrapper .image img { max-height: 340px; }
.quote_wrapper .call {
	margin: 65px 0px 0px 100px;
	text-align: center;
}
.quote_wrapper .call .headtext h1 { 
	margin: 0; 
	padding-top: 15px;
}
.quote_wrapper .call .quote_text{
	margin-top: 40px;
	font-family: 'Bad Script', cursive;
	line-height: 120%;
}
.quote_wrapper .call .quote_author {
	margin-top: 30px;
	font-weight: bold;
}
.program {
	min-height: 850px;
	width: 100%;
	background: #20203a;
	padding-top: 40px;
	color: #ededed;
}
.program .headtext {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
}
.program_info {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 65px;
	flex-wrap: wrap;
}
.program_info_block:not(:first-child) {
	margin-top: 20px;
}
.secondary_quote {
	overflow: hidden;
	color: #ededed;
	background: rgb(253,29,29);
	background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,69,214,1) 0%, rgba(114,47,159,1) 86%);
}
.secondary_quote_wrapper  {
	margin: 58px auto;
	text-align: center;
}
.secondary_quote_wrapper .quote_text {
	font-family: 'Bad Script', cursive;
	font-size: 2.5em;
}
.secondary_quote_wrapper .quote_author {
	font-weight: bold;
	font-size: 1.3em;
}
.price {
	min-height: 750px;
}
.price_wrapper {
	margin-top: 60px;
}
.price_wrapper .headtext {
	text-align: center;
	margin-bottom: 60px;
}
.price_list {
	width: 240px;
	text-align: center;
	margin: 0 auto;
}
.price_info {
	margin-top: 15px;
	text-align: center;
	letter-spacing: 2px;
}
.typeof_price span strong{
	text-transform: uppercase;
	font-size: 13px;
	letter-spacing: 3px;
}
.price_value {
	margin-top: 10px;
	font-size: 30px;
}
.past_price {
	text-decoration: line-through;
}
.price_list .description {
	margin-top: 10px;
	font-size: 15px;
	color: #7b7e82;
	text-align: center;
	line-height: 150%;
	height: 270px;
}
.buy_btn {
	background: rgb(116,15,149);
	background: -webkit-linear-gradient(bottom, rgba(116,15,149,1) 0%, rgba(237,94,186,1) 100%);
	background: -o-linear-gradient(bottom, rgba(116,15,149,1) 0%, rgba(237,94,186,1) 100%);
	background: linear-gradient(to top, rgba(116,15,149,1) 0%, rgba(237,94,186,1) 100%);
	display: inline-block;
	padding: 12px 50px;
	text-transform: uppercase;
	border-radius: 40px;
	font-size: 13px;
	margin-bottom: 25px;
	font-weight: bold;
}
.price_list_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.mobile_app {
	margin-top: 20px;
}
.mobile_app_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex; 
	justify-content: space-between;
	max-width: 870px;
	margin: 0 auto;
	flex-wrap: wrap;
}
.mobile_app_info_wrapper {
	margin-top: 100px;
}
.mobile_app_wrapper .image img {
	width: 250px;
}
.mobile_app_info .description .description_list ul{
	list-style-image: url(../img/check_mark.png);
}
.mobile_app_info .description .description_head {
	font-size: 20px;
}
.mobile_app_info .description .description_list {
	font-size: 15px;
	color: #676767;
}
.month_work {
	margin-top: 100px;
}
.month_work_wrapper {
	max-width: 900px;
	margin: 0 auto;
}
.month_work_wrapper .headtext { text-align: center; }
.todo_list_box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	
}
.todo_list_box_case { 
	width: 150px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: row;
	-moz-flex-direction: row;
	-ms-flex-direction: row;
	-o-flex-direction: row;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
}
.todo_list_box_case .description { color: #9c9c9c; }
.todo_list_box:nth-child(2) {
	margin-top: 80px;
}
.todo_list {
	margin-top: 50px;
}
.another_question {
	margin-top: 110px;
	background: #fef0ff;
	overflow: hidden;
}
.another_question_wrapper { margin: 20px auto; }
.another_question_wrapper .headtext_wrapper { margin-top: 100px; }
.another_question_wrapper .headtext_wrapper { text-align: center; }
.another_question_wrapper .headtext_wrapper .headtext_question h1,
.another_question_wrapper .headtext_wrapper .headtext_care h1 { 
	margin: 0; 
}
.call_back_btn_wrapper { 
	margin: 40px auto 90px auto;
	color: black;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;}
.call_back_btn a{
	border-radius: 40px;
	font-weight: bold;
	padding: 15px 90px;
	display: inline-block;
	background: rgb(116,15,149);
	background: linear-gradient(0deg, rgba(116,15,149,1) 0%, rgba(237,94,186,1) 100%);
}
.promotion {
	background-image: url(../img/bg_promotion.jpg);
	color: #ededed;
	overflow: hidden;
}
.promotion_wrapper {
	margin: 50px auto;
}
.promotion_wrapper .headtext {
	text-align: center;
}
.promotion_wrapper .headtext h1 { margin: 0; }
.promotion_features_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	max-width: 800px;
	justify-content: space-between;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}
.promotion_features_box .number_value span strong { font-size: 45px; }
.promotion_features_box .description span { font-size: 18px; }
.booking {
	background: rgb(253,29,29);
	background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,69,214,1) 0%, rgba(114,47,159,1) 86%);
	overflow: hidden;
	color: #ededed;
}
.booking_wrapper .headtext { text-align: center; }
.booking_wrapper .headtext h1 { margin: 0; }
.booking_wrapper { margin: 85px auto 115px auto; }
.booking_form_wrapper {
	margin-top: 45px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.booking_form_wrapper form {
	width: 900px;
	margin: 0 auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.booking_form_wrapper form input {
	font-size: 12px;
	border-radius: 40px;
	color: #727272;
}
.booking_form_wrapper form input:not(:last-child) {
	border: 0;
	width: 100px;
	padding: 15px 55px;
}
.booking_form_wrapper form input[type="submit"] {
	padding: 15px 73px;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	background: #000;
	color: #ededed;
	display: inline-block;
}
.partner {
	overflow: hidden;
}
.partner_wrapper {
	margin: 50px auto;
}
.partner_wrapper .headtext { text-align: center; }
.partner_logo_wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	max-width: 1000px;
	margin: 0 auto;
	justify-content: space-between;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer {
	background: #000;
	color: #ededed;
	min-height: 300px;
	overflow: hidden;
}
.footer_wrapper {
	margin: 40px auto 120px auto;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	max-width: 900px;
	justify-content: space-between;
	text-align: center;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
}
.footer_wrapper .info_box .phone,
.footer_wrapper .info_box .name,
.footer_wrapper .info_box .mail {
	font-weight: bold;
}
.footer_wrapper .info_box .phone {margin-top: 30px;}
