body {
    background-color: rgb(255, 255, 224);
}
h1, h2 {
    
}
h1, .chapter-order{
    font-size: 12pt;
    text-align: center;
    color: rgb(204,0,0);
}
.description {
    font-weight: 100;
    font-size: 10pt;
}
p, span {
    font-size: 10pt;
}
.italic-text {
    font-style: italic;
}